
body{
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

main{
    position: absolute;
}

main header{
    position: relative;
    display: flex;
    padding-top: 3px;
    padding-bottom: 20px;
    background-color: rgb(67, 67, 67);
}

main header h1{
    margin-top: 4px;
    min-width: 20%;
    display: flex;
    flex: 0 1 0;
    justify-content: flex-end;
    padding: 10px;
    font-size: 50px;
    color: rgb(67, 67, 67);
    background-color:#6ab5eb;
}

main header nav{
    display: flex;
    justify-content: end;
    align-items: center;
    padding-left:49%;
}


main header nav ul{
    display: flex;
}

main header nav ul li{
    padding: 10px;
}

main header nav ul li a{
    text-decoration: underline 4px;
    color: #6ab5eb;
    font-size: 21px;
    
}


 .image img {
    display: flex;
    min-width: 100%;
    max-height: 200px;
} 
    
.image {
    position: relative;
}
    
.image figcaption{
    position: absolute;
    display: flex;
    align-items: center;
    font-size: 40px;
    padding: 15px;
    top: 55%;
    left: 76%;
    background-color:#6ab5eb ;
    border-radius: 5px;
    color: rgb(67, 67, 67);
    box-shadow: 0px 0px 20px rgb(67, 67, 67) ;
}

.about-me{
    margin-top: 40px;
    margin-left: 200px;
}
.about-me h2{
    font-size: 60px;
    color: #315975;
    float:left;
    margin-right: 120px;
}
 
.about-me p{
    display: flex;
    
    color:#6ab5eb;
    line-height: 25px;
    margin-top: 20px;
}    

.work{
    margin-top: 60px;
    margin-left: 200px;
    display: flex;
}

.work h2{
    font-size: 60px;
    color: #315975;
    float:left;
    margin-right: 135px;
}

.work div{
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
}

.card {
    display: flex;
    flex: 0 1 0;
    position: relative;
    
}

.card img {
    display: flex;
    max-width: 100%;
    max-width: 500px;
    border: 3px solid #6ab5eb;
    margin:3px;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}
    
.card:hover img {
    opacity: 0.6;
  }

.card figcaption{
    padding: 5px;
    background-color:#6ab5eb ;
    color: rgb(67, 67, 67);
    border-radius: 0 5px 5px 0;
    position: absolute;
    flex-wrap: wrap;
    align-items: center;
    top: 200px;
    left: 5px;
}

.card figcaption h3{
    font-size: 30px;
}

.card figcaption p{
    padding-top: 5px;
    flex-wrap: wrap;
    font-size: 20px;
}

#card1{
    max-width: 1005px;
}

footer{
    margin-top: 60px;
    margin-bottom: 30px;
    margin-left: 200px;
    display: flex;
  
}

footer h2{
    font-size: 50px;
    color: #315975;
    float:left;
    margin-right: 80px;
}


footer  nav ul{
    display: flex;
}

footer  nav ul li{
    padding: 10px;
}

footer nav ul li a{
    text-decoration: underline 2px;
    color: #6ab5eb;
    font-size: 21px;
    
}

@media screen and (max-width: 1506px) {
    .card img{
        max-width: 499px;
    }

@media screen and (max-width: 992px) {
    main header h1{
        display: flex;
        font-size: 30px;
        color: rgb(67, 67, 67);
        background-color:#6ab5eb;
    }

    main header nav{
        display: flex;
        justify-content: end;
        align-items: center;
        padding-left: 40%;
    }

    main header nav ul li a{
        text-decoration: underline 3px;
        color: #6ab5eb;
        font-size: 15px;
        
    }

    .image figcaption{
        font-size: 18px;
    }

    .about-me{
            margin-top: 40px;
            margin-left: 20px;
    }

    .about-me h2{
        font-size: 40px;
        color: #315975;
        float:left;
        margin-right: 50px;
    }

    .about-me p{
        font-size: 13px;
        line-height: 15px;
    }    
        
    .work div{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        
    }

    .work{
            margin-top: 60px;
            margin-left: 20px;
            display: flex;
    }
    .work h2{
        font-size: 40px;
        color: #315975;
        float:left;
        margin-right: 50px;
    }

    .card {
        display: flex;
        flex: 0 1 0;
        position: relative;
        margin-bottom: 10px;
    }

    .card img{
        max-width: 450px;
    }

    #card1{
        max-width: 450px;
    }

    .card figcaption h3{
        font-size: 18px;
    }
    
    .card figcaption p{
        font-size: 12px;
    }

    footer{
        margin-left: 20px;
      
    }
    
    footer h2{
        font-size: 40px;
        margin-right: 10px;
    }
    
    
    footer  nav ul{
        display: flex;
    }
    
    footer  nav ul li{
        padding: 3px;
    }
    
    footer nav ul li a{
        text-decoration: underline 2px;
        color: #6ab5eb;
        font-size:15px;
        
    }
}

    
  
